.races-quicklinks-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .quicklink-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px 16px;
        border-radius: 12px;
        background-color: var(--colors-primary-light);
        transition: all 200ms ease-out;
        text-align: center;

        &:hover {
            transform: scale(1.02);
        }

        &:active {
            transform: scale(0.98);
        }

        .quicklink-title {
            /* font-size: 1.2rem; */
            font-weight: 500;
            color: white;
        }

        .quicklink-summary {
            font-size: 0.9rem;
            color: white;
        }
    }
}
