.dot {
    /* Vector */

    position: relative;

    left: 6px;
    margin-right: 12px;

    border-radius: 50%;
}

.dot:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    display: block;
    animation: pulse 4s ease 0s infinite;
}

.dot:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    display: block;
    animation: pulse2 4s ease 0s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    40% {
        opacity: 0;
        transform: scale(2.5);
    }

    50% {
        opacity: 0;
        transform: scale(3);
    }

    100% {
        opacity: 0;
        transform: scale(3);
    }
}

@keyframes pulse2 {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    15% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(2.5);
    }

    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
