.menu-container {
    min-height: 104px;
    width: 100%;
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

@media (max-width: 600px) {
    .menu-container {
        padding: 24px 12px;
        /* height: 100%; */
    }
}

.menu-card {
    max-width: 952px;
    width: auto;
    margin: 0 auto;
    border-radius: 30px;
    background-color: var(--colors-background-translucent);
    height: 100%;
    box-shadow: 0 0 24px 0 var(--colors-shadow);
    transition: all 200ms ease-in-out;
    padding: 8px 10px;
    border: 1.4px solid var(--colors-border);
    display: flex;
    flex-direction: column;
    align-items: center;

    /* &:hover {
        box-shadow: 0 0 24px 0 var(--colors-shadow);
        border: 1.4px solid rgb(187, 187, 187)aa;
        background-color: var(--colors-background);
    } */

    img {
        height: 40px;
    }

    h2 {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: var(--colors-text);
    }
}

.menu-container-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
    width: 100%;
    justify-content: space-between;
}

/* The filters are not defined in the menu-card to avoid the following issue: https://stackoverflow.com/questions/52937708/why-does-applying-a-css-filter-on-the-parent-break-the-child-positioning */
.menu-container-backdrop {
    position: 'absolute';
    z-index: -1;
    border-radius: 100px;
    backdrop-filter: blur(12px);
}

.pad-container {
    flex: 1;
}

.margin-container {
    width: 6px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-item {
    padding: 0px 8px;
}

.focused {
    box-shadow: 0 0 24px 0 var(--colors-shadow);
    border: 1.4px solid rgb(187, 187, 187) aa;
    background-color: var(--colors-background);
}

.menu-container-mobile {
    display: none;
}

.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-open-button {
    display: none;
}

/* Dont display large menu on screens under 730px */
@media (max-width: 730px) {
    .menu-items {
        display: none;
    }

    .menu-open-button {
        display: block;
    }
}

@media (min-width: 730px) {
    .vertical-menu {
        height: 0;
    }
}

.vertical-menu {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
