.card-container {
    background-color: var(--colors-background-card);
    backdrop-filter: blur(24px);
    border-radius: 12px;
    box-shadow: 0 0 24px 0 var(--colors-shadow-light);
    padding: 24px 32px;
    border: 1px solid var(--colors-border);
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    transition: all 200ms;
    height: auto;
    align-self: stretch;

    &:hover {
        box-shadow: 0 0 24px 0 var(--colors-shadow);
    }
}

.card-content-grid {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
}

.card-content-centered {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card-title {
        h3 {
            font-size: 1.4rem;
            font-weight: 599;
        }
    }

    .card-header-action {
        a {
            display: flex;
            align-items: center;
            gap: 1px;
            font-weight: 500;
            color: var(--colors-text-light);
            fill: var(--colors-text-light);
            transition: all 200ms cubic-bezier(0.01, 1.22, 0.94, 0.93);

            &:hover {
                color: var(--colors-primary-light);
                fill: var(--colors-primary-light);
                transform: scale(1.02);
            }
        }
    }
}