.races-quicklinks-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    margin: -12px;
    padding: 12px;
    overflow-x: auto;

    .quicklink-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 20px;
        border-radius: 12px;
        background-color: var(--colors-primary-light);
        transition: all 200ms ease-out;
        text-align: center;
        justify-content: center;
        min-width: 200px;

        &:hover {
            transform: scale(1.02);
        }

        &:active {
            transform: scale(0.98);
        }

        .quicklink-title {
            font-size: 1.2rem;
            font-weight: 600;
            color: white;
        }

        .quicklink-summary {
            font-size: 0.9rem;
            color: white;
        }
    }
}
