.races-quicklinks-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    padding: 4px;
    margin-left: -4px;
    overflow-x: auto;

    .quicklink-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0px 20px 12px 20px;
        border-radius: 12px;
        /* border: 2px solid var(--colors-border); */
        transition: all 200ms ease-out;
        align-items: center;
        text-align: center;
        justify-content: center;
        min-width: 200px;

        &:hover {
            transform: scale(1.02);
        }

        &:active {
            transform: scale(0.98);
        }

        .quicklink-title {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .quicklink-summary {
            font-size: 1rem;
            color: var(--colors-text-light);
        }
    }
}
