.contact-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    margin: 12px 0;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--colors-text);
        transition: all 0.2s;

        svg {
            font-size: 24px;
            fill: var(--colors-text);
        }

        &:hover {
            transform: scale(1.02);
            color: var(--colors-text-primary);

            svg {
                fill: var(--colors-text-primary);
            }
        }
    }
}
