@font-face {
    font-family: 'SFProRounded';
    src: url('https://db.onlinewebfonts.com/t/511031ed9122c8ea1450b18b876221fe.eot');
    src:
        url('https://db.onlinewebfonts.com/t/511031ed9122c8ea1450b18b876221fe.eot?#iefix')
            format('embedded-opentype'),
        url('https://db.onlinewebfonts.com/t/511031ed9122c8ea1450b18b876221fe.woff') format('woff'),
        url('https://db.onlinewebfonts.com/t/511031ed9122c8ea1450b18b876221fe.woff2')
            format('woff2'),
        url('https://db.onlinewebfonts.com/t/511031ed9122c8ea1450b18b876221fe.ttf')
            format('truetype'),
        url('https://db.onlinewebfonts.com/t/511031ed9122c8ea1450b18b876221fe.svg#SF Pro Rounded Bold')
            format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
