.navbar-item-top {
    font-size: 1rem;
    cursor: pointer;
    height: auto;
}

.navbar-item {
    padding: 18px 12px;
    text-align: center;
    transition: all 120ms cubic-bezier(0.01, 1.22, 0.94, 0.93);
    color: var(--colors-text-subtle);
    display: block;
    font-weight: 500;

    &:active {
        transform: scale(0.86);
        transition: all 800ms cubic-bezier(0.01, 1.22, 0.94, 0.93);
    }
}

.navbar-item-focused {
    color: var(--colors-primary-light);
    transform: scale(1.02);
}

.navbar-item-active {
    color: var(--colors-primary-light);
    transform: scale(1.02);
}

.navbar-item-button {
    padding: 0;
}

.navbar-item-title {
    padding-left: 0;
    padding-right: 0;

    font-weight: 580;
    font-size: 1.1rem;

    span {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.navbar-item-light {
    color: var(--colors-text-subtle);
}