.markdown {
    p,
    ul,
    blockquote,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.5rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    li {
        margin-left: 22px;

        &:not(:last-child) {
            margin-bottom: 1.4rem;
        }
    }

    a {
        font-weight: 600;
        color: var(--colors-text-primary);

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        margin-bottom: 12px;
    }

    .postImg {
        margin: 24px auto 12px auto;
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: contain;
    }

    .caption {
        font-size: 0.9rem;
        text-align: center;
        color: var(--colors-text-light);
        margin-bottom: 24px;
    }
}
