.partners-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;

    .logo-img {
        width: 100px;
        height: 100px;
        object-fit: scale-down;
        filter: grayscale(100%);
        transition: filter 0.3s;
    }
}

.embla {
    overflow: hidden;
    height: 120px;
}

.embla__container {
    display: flex;
    height: 100%;
    touch-action: pan-y;
    margin-left: calc(1rem * -1);
    backface-visibility: hidden;
}

.embla__slide {
    /* 2 items per slide */
    flex: 0 0 calc(100% / 2);
    /* 2rem each side */
    margin: 0px 1rem;
    min-width: 0;
    height: 100%;
}

@media (min-width: 750px) {
    .embla__slide {
        /* 2 items per slide */
        flex: 0 0 calc(100% / 3);
    }
}

@media (min-width: 1200px) {
    .embla__slide {
        /* 4 items per slide */
        flex: 0 0 calc(100% / 5);
        margin: 0px 2rem;
    }
}

.partner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    transition: transform 200ms ease-out;
    background-color: white;
    border-radius: var(--border-radius);

    .logo-img {
        filter: grayscale(0%);
        object-fit: contain;
        width: 100%;
        height: auto;
        max-height: 100px;
    }

    &:hover {
        transform: scale(1.1);
    }
}
