.question-item {
    margin-bottom: 12px;

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        cursor: pointer;
        color: var(--colors-text);

        &:hover {
            .question {
                text-decoration: underline;
            }
        }

        .question {
            font-weight: 500;
        }

        .category {
            font-size: 13px;
            font-weight: 600;
            color: var(--colors-text-primary);
            background-color: #41946811;
            border: 1.6px solid var(--colors-text-primary);
            border-radius: 8px;
            padding: 0px 6px;
        }
    }

    .answer {
        color: var(--colors-text-light);
        margin-bottom: 24px;
    }
}
