.link {
    cursor: pointer;
}

.link-text {
    color: var(--colors-text-primary);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    outline: none;
}

.outline-text[data-focus-visible='true']:focus {
    outline: 2px solid var(--colors-text-primary);
    border-radius: 6px;
}

.outline-box[data-focus-visible='true']:focus {
    outline: 2px solid var(--colors-text-primary);
    box-shadow: 0 0 12px var(--colors-text-primary) !important;
    border-radius: var(--border-radius);
}
