.link {
    cursor: pointer;
}

.link-text {
    color: var(--colors-text-primary);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.outline-none {
    &:focus {
        outline: none;
    }
}

.outline-text {
    &:focus {
        outline: 2px solid var(--colors-text-primary);
        outline-offset: 2px;
    }
}

.outline-box {
    border-radius: var(--border-radius);

    &:focus {
        outline: 2px solid var(--colors-text-primary);
        box-shadow: 0 0 12px var(--colors-text-primary) !important;
    }
}
