.already-registered {
    display: flex;
    align-items: center;
    gap: 12px;
}

.action {
    padding: 12px 24px;
    border-radius: 12px;
    background-color: #952bff;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 200ms;

    &:hover {
        background-color: #952bffaa;
    }
}

.register {
    background-color: #95ff2b;
    color: black;

    &:hover {
        background-color: #95ff2baa;
    }
}
