.button {
    height: 40px;
    font-family: inherit;
    border: none;
    padding: 10px 16px;
    border-radius: 50px;
    background-color: var(--colors-secondary);
    color: var(--colors-primary);
    fill: var(--colors-primary);
    font-weight: 590;
    font-size: 1rem;
    cursor: pointer;
    transition: all 200ms;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        color: var(--colors-secondary);
        fill: var(--colors-secondary);
        background-color: var(--colors-primary);
        transform: scale(0.98);
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid var(--colors-text-primary);
    }
}

.button-inverted {
    background-color: var(--colors-primary);
    color: var(--colors-secondary);
    fill: var(--colors-secondary);

    &:hover {
        color: var(--colors-primary);
        fill: var(--colors-primary);
        background-color: var(--colors-secondary);
    }
}

.button-text {
    background: none;
    color: var(--colors-text-light);
    fill: var(--colors-text-light);

    &:hover {
        color: var(--colors-primary);
        fill: var(--colors-primary);
        background: none;
    }
}

.button-size-large {
    text-transform: uppercase;
    padding: 12px 24px;
    height: auto;
}
